html{
    box-sizing: border-box;
}
@keyframes color_change {
    from {background-color: rgb(0, 0, 0)}
    to {}
}
@keyframes size{
    from {
        width:200px;
        height:50px;
    }
    to {width:650px;
        height:300px;
    }
}
body{
    margin: 0.5px;
    background-color: rgb(251, 251, 253);
    color:rgb(0, 0, 0);
    
}
.welcome_header{
    text-align: center;
    margin:0;
    padding:20px;
    opacity: 0.8;
    background-image:linear-gradient( rgb(51, 51, 51), rgb(251, 251, 253)) ;
}
a:hover{
    color:rgb(233, 163, 14);
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    opacity: 0.8;
    position:-webkit-sticky;
    top: 0;
    position:sticky;
    padding: 5px;
    padding-right:2px;
    
    border:1px solid rgb(20, 16, 10);
    animation-name: color_change;
    animation-duration: 10s;
    background-color: rgb(51, 51, 51);
}
a{
    text-decoration: none;
    padding:10px;
    color: rgb(191, 191, 193);

}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}


.item_content{
    flex-grow: 2;
    width:650px;
    height:300px;
    background-color: rgb(245,245,247);
    margin:5px;
    transition: width 2s, height 2s, background-color 2s, color 2s,  transform 2s;


}
#small_size_content{
    
    animation-name: size;
    animation-duration: 5s;
}

.t_box:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(240, 164, 71);
    transform: rotateY(360deg) skewY(10deg) scale3d(1.1,1.1,1.1) rotate3d(1,1,1,90deg);
    
}


.footer{
    background-color: rgb(61,61,63);
    opacity: 9.5;
    padding:15px;
}
.footer_div{
    display:flex;
    flex-direction: row;
    justify-items: space-between;
    justify-content: center;
    flex-wrap: nowrap;
}
.footer_div a, .footer_div p{
    margin: 0px;
    padding:10px;
}

